.vs/
x64/Debug
x64/Release/enzo-tech-device-login.exe
x64/Release/enzo-tech-device-login.ico
x64/Release/enzo-tech-device-login.pdb
x64/Release/settings.ini
x64/Release/Output
x64/Release/TimeKeeping.ico
x64/Release/user.ini
enzo-tec.7E0061BF/
Timekeeping Badger/
enzotechdevicelogin.aps

